{{ define "assassinate" }}
        
    {{ template "share/header" }}

    {{ template "share/sidebar" }}

        <div id="main" class="ui raised padded grid container segment">
            <div class="row">
                <div class="column">
                    <div class="border-block-top"></div>
                </div>
                <div class="fourteen wide column">
                    <div class="ui center aligned huge header" style="font-size: 4em; color:#eee">
                        Assassinate
                        <div class="sub header">
                            <p class="describe-section">gives the deadly attack</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>

            <div class="column">
                <p>three</p>
                <p></p>
            </div>
            <div class="column">
                <p>four</p>
                <p></p>
            </div>
        </div>


    </body>
</html>

{{ end }}