{{ define "index" }}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AssassinGo</title>
        <link rel="stylesheet" type="text/css" href="/static/semantic/semantic.min.css">
        <link rel="stylesheet" href="/static/base.css">
        <script src="/static/jquery-3.1.1.min.js"></script>
        <script src="/static/semantic/semantic.min.js"></script>
        <script src="/static/base.js"></script>
    </head>
    
    <body>
        <!-- sidebar  -->
        <div class="ui sidebar visible fixed vertical labeled icon menu">
            <a class="item">
                <img class="ui centered small circular image" src="/static/logo.png" style="width:120px;">
                <h2 class="ui orange header" style="font-weight:400;">AssassinGo</h2>
            </a>
            <a class="item" href="/#home">
                <i class="orange tiny home icon" id="home-sd"></i>
                Home
            </a>
            <a class="item" href="/#shadow">
                <i class="orange spy icon" id="shadow-sd"></i>
                Shadow
            </a>
            <a class="item" href="/#attack">
                <i class="orange block layout icon" id="attack-sd"></i>
                Attack
            </a>
            <a class="item" href="/#seek">
                <i class="orange search icon" id="seek-sd"></i>
                Seek
            </a>
            <a class="item" href="/#assassinate">
                <i class="orange smile icon" id="assassinate-sd"></i>
                Assassinate
            </a>
        </div>

        <!-- home -->
        <div id="home" class="ui grid container">
            <div class="two wide column"></div>
            <div id="home-header" class="ui huge header">
                AssassinGo
                <div class="sub large header" style="font-size: 22px;">
                    Extensible and Concurrency Pentest Framework in Go.
                </div>
            </div>
            <div class="row">
                <div class="six wide column"></div>
                <div class="six wide column">
                    <div class="ui fluid action input focus">
                        <input id="target" placeholder="Website URL: www.target.com ..." type="text">
                        <button id="bt-set-target" class="ui primary button">Set Target</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- shadow -->
        <div id="shadow" class="ui raised padded grid container segment">
            <div class="row">
                <div class="column">
                    <div class="border-block-top"></div>
                </div>
                <div class="fourteen wide column">
                    <div class="ui center aligned huge header" id="start-shadow" style="font-size: 4em; color:#eee">
                        Shadow
                        <div class="sub header">
                            <p class="describe-section">gather information</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- webserver -->
            <div class="row">
                <div class="two wide column"></div>
                
                <div class="four wide column">
                    <div class="ui small loader" id="ip-loading"></div><p id="ip">IP Address: </p>
                </div>
                <div class="four wide column">
                    <div class="ui small loader" id="server-loading"></div><p id="server">Web Server: </p>
                </div>
                <div class="column"></div>
                <div class="four wide column">
                    <div class="ui small loader" id="cms-loading"></div><p id="cms">CMS: </p>
                </div>
            </div>

            <div class="row"></div>

            <div class="row">
                <div class="column"></div>
                
                <div class="five wide column">
                    <!-- fuzzableURLs -->
                    <table class="ui single line table">
                        <thead><th>FuzzableURLs</th></thead>
                        <tbody id="url-table">
                            
                        </tbody>
                    </table>
                </div>
                <div class="four wide column"></div>
                
                <div class="two wide column">
                    <!-- port -->
                    <table class="ui very basic small celled table">
                        <thead>
                            <tr>
                                <th>Port</th>
                                <th>Service</th>
                            </tr>
                        </thead>
                        <tbody id="port-table">
                            <div class="ui loader" id="port-loading" hidden></div>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="eight wide column"></div>
                <div class="column">
                    <a href="/#attack"><i class="angle double down large link icon"></i></a>
                </div>
            </div>

        </div>

        <!-- attack -->
        <div id="attack" class="ui raised padded grid container segment">
            <div class="row">
                <div class="column">
                    <div class="border-block-top"></div>
                </div>
                <div class="fourteen wide column">
                    <div id="start-attack" class="ui center aligned huge header" style="font-size: 4em; color:#eee">
                        Attack
                        <div class="sub header">
                            <p class="describe-section">scan and fuzz</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="column"></div> -->
                
                <div class="five wide column">
                    <!-- SQLICheck -->
                    <table class="ui single line table">
                        <thead><th>SQLI-URLs</th></thead>
                        <tbody id="sqli-url-table">
                            
                        </tbody>
                    </table>
                </div>
                <div class="column"></div>
                <div class="five wide column">
                    <!-- XSSCheck -->
                    <table class="ui single line table">
                        <thead><th>XSS-URLs</th></thead>
                        <tbody id="xss-url-table">
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                    <div class="five wide column">
                    <!-- Intruder -->
                    <table class="ui single line table">
                        <thead><th>Intruder</th></thead>
                        <tbody id="intruder-table">
                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                    <div class="eight wide column"></div>
                    <div class="column">
                        <a href="/#assassinate"><i class="angle double down large link icon"></i></a>
                    </div>
                </div>
        </div>

        <!-- seek -->
        <div id="seek" class="ui raised padded grid container segment">
            <div class="row">
                <div class="column">
                    <div class="border-block-top"></div>
                </div>
                <div class="fourteen wide column">
                    <div class="ui center aligned huge header" id="start-seek" style="font-size: 4em; color:#eee">
                        Seek
                        <div class="sub header">
                            <p class="describe-section">seek targets</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="five wide column"></div>
                <!-- Seeker -->
                <div class="five wide column">
                <table class="ui single line table">
                    <thead><th>Seeker</th></thead>
                    <tbody id="seeker-table">
                        
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="eight wide column"></div>
                <div class="column">
                    <a href="/#shadow"><i class="angle double down large link icon"></i></a>
                </div>
            </div>
        </div>

        <!-- assassinate -->
        <div id="assassinate" class="ui raised padded grid container segment">
            <div class="row">
                <div class="column">
                    <div class="border-block-top"></div>
                </div>
                <div class="fourteen wide column">
                    <div class="ui center aligned huge header" style="font-size: 4em; color:#eee">
                        Assassinate
                        <div class="sub header">
                            <p class="describe-section">the deathblow</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

            </div>

            <div class="column">
                <p>three</p>
                <p></p>
            </div>
            <div class="column">
                <p>four</p>
                <p></p>
            </div>
        </div>

    </body>
</html>

{{ end }}