{{ define "share/sidebar" }}

    <div class="ui sidebar visible fixed vertical labeled icon menu">
        <a class="item">
            <img class="ui centered small circular image" src="/static/logo.png" style="width:120px;">
            <h2 class="ui orange header" style="font-weight:400;">Assassin Go</h2>
        </a>
        <a class="item" href="/">
            <i class="orange tiny home icon"></i>
            Home
        </a>
        <a class="item" href="/seek">
            <i class="teal search icon"></i>
            Seek
        </a>
        <a class="item" href="/shadow">
            <i class="teal spy  icon"></i>
            Shadow
        </a>
        <a class="item" href="/attack">
          <i class="teal block layout icon"></i>
          Attack
        </a>
        <a class="item" href="/assassinate">
          <i class="orange smile icon"></i>
          Assassinate
        </a>
    </div>

{{ end }}